<?xml version="1.0" encoding="utf-8"?>
<SOURCE>
  <DATE>2014-10-14 13:20:45</DATE>
  <SOURCE_NAME>kytlice</SOURCE_NAME>
  <STORATIVITY>0.11950303</STORATIVITY>
  <TRANSMISSIVITY>0.00781848</TRANSMISSIVITY>
  <RECHARGE>0.03</RECHARGE>
  <RADIUS_WELL>0.08</RADIUS_WELL>
  <TEST_DATA>three.txt</TEST_DATA>
  <OBSERV_DATA>NULL</OBSERV_DATA>
  <SKIN>15</SKIN>
  <WELL_STORAGE>700</WELL_STORAGE>
<WELL_DISTANCE>23</WELL_DISTANCE></SOURCE>
