<?xml version="1.0" encoding="utf-8"?>
<SOURCE>
  <DATE>2015-06-22 10:40:31</DATE>
  <SOURCE_NAME>three_hv2a</SOURCE_NAME>
  <STORATIVITY>0.00000596 </STORATIVITY>
  <TRANSMISSIVITY>0.00042</TRANSMISSIVITY>
  <RECHARGE>0.00023</RECHARGE>
  <RADIUS_WELL>0.04</RADIUS_WELL>
  <TEST_DATA>three_HV2a.txt</TEST_DATA>
  <OBSERV_DATA>NULL</OBSERV_DATA>
  <WELL_DISTANCE>1950</WELL_DISTANCE>
  <SKIN>4.8</SKIN>
  <WELL_STORAGE>4200000</WELL_STORAGE>
<sd_1>-0.1361980381031742</sd_1><sd_2>14.410740735171848</sd_2><td_1>228.00161931705637</td_1><td_2>5821.278465138467</td_2><iz>10.338384592351526</iz></SOURCE>
